[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-magic = "*"
send2trash = "*"
pandas = "*"
python-magic-bin = "==0.4.14"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
